.header {
  background-color: $dark;
  color: $white;
  .navbar-brand {
      font-size: 1.5em;
  }
}

.card.movie-card {
  background-color: $dark;
  color: $white;
  .card-title {
      font-size: 1.2em;
  }
  .card-subtitle {
      font-size: 1em;
      color: $gray-500; 
  }
  .card-text {
      font-size: 0.9em;
  }
}

.footer {
  background-color: $dark;
  color: $gray-500;
  padding: 1em 0;
  text-align: center;
}